<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>HTML5 Validation with VueJs</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container" id="app">
        <div class="py-5 text-center">
            <h2>HTML5 Validation with Vuejs</h2>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form class="needs-validation" id="validated-form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" name="firstName" placeholder="" value="" required>
                            <span class="text-danger" v-if="validationErrors.firstName" v-text="validationErrors.firstName"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="lastName" placeholder="" value="" required>
                            <span class="text-danger" v-if="validationErrors.lastName" v-text="validationErrors.lastName"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                            <span class="text-danger" v-if="validationErrors.username" style="width: 100%;" v-text="validationErrors.username"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" name="email" placeholder="you@example.com">
                        <div class="text-danger" v-if="validationErrors.email" style="width: 100%;">
                            <span v-text="validationErrors.email"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="1234 Main St" required>
                        <span class="text-danger" v-if="validationErrors.address" style="width: 100%;" v-text="validationErrors.address"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" name="country" required>
                                <option value="">Choose...</option>
                                <option>Nigeria</option>
                            </select>
                            <span class="text-danger" v-if="validationErrors.country" style="width: 100%;" v-text="validationErrors.country"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" name="state" required>
                                <option value="">Choose...</option>
                                <option>Lagos</option>
                            </select>
                            <span class="text-danger" v-if="validationErrors.state" style="width: 100%;" v-text="validationErrors.state"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" name="zip" placeholder="" pattern="[0-9]{7}" title="Enter a valid Nigerian zip code" required>
                            <span class="text-danger" v-if="validationErrors.zip" style="width: 100%;" v-text="validationErrors.zip"></span>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                        @click.prevent="submitForm()">SUBMIT</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">

        </footer>
    </div>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/form-validation.js"></script>
</body>

</html>